/*#postHeader {
    width: 50%;
    background-color: darkorange;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    margin: 50px;
}

#postHeader::placeholder {
    color: white;
    font-weight: 700;
    opacity: .7;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}


/* ASIDE AREA */
ul, #treeList {
    list-style-type: none;
}

li {
    cursor: pointer;
}

#treeList {
    margin: 0;
    padding: 0;
    color: white;
}

/*#treeList > ul {
    padding-left: 24px;
}*/

.caret {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

    .caret::before {
        /*content: "\25B6";*/
        /*content: "\1F5C0";*/
        content: ">";
        color: white;
        display: inline-block;
        margin-right: 6px;
    }

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}
/* ASIDE AREA */

.jstree {
    color: white;
}