/*#postHeader {
    width: 50%;
    background-color: darkorange;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    margin: 50px;
}

#postHeader::placeholder {
    color: white;
    font-weight: 700;
    opacity: .7;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

#treeListArea {
    overflow: auto;
}

.jstree {
    color: white;
}

.jstree-default .jstree-clicked {
    background: #F47174 !important;
    font-weight: 500;
    border-radius: 25px !important;
    padding-left: 5px;
    padding-right: 10px;
}

.jstree-hovered {
    background-color: #F47174 !important;
    border-radius: 25px !important;
}

/*Splitter.js Configurations*/
.gutter {
    padding: 0;
    cursor: col-resize;
    background-color: #363636 !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}

    .gutter.gutter-horizontal {
        background-image: url('/vertical_dots.png') !important;
        background-size: 24px 24px !important;
    }

#postHeader {
    color: white;
}

#editButton, #saveButton {
    border-radius: 25px;
    background-color: #F47174;
    width: 200px;
    border: none;
    color: white;
    font-weight: 500;
}
