@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
@*<link href="~/css/jsTree.css" rel="stylesheet" />*@

<div class="row">
    <div class="col-2">
        <div id="treeListArea">

        </div>
        <br />
        <button class="btn btn-success" style="width: 100%; padding: 0px;" onclick="demo_create()">Create</button>
        <br />
        <button class="btn btn-success" style="width: 100%; padding: 0px;" onclick="demo_refresh()">Refresh</button>
    </div>

    <div class="col-10 mt-5">
        <div id="buttonArea"></div>
        <br />
        <br />
        <div id="postArea">
            <div id="header"></div>
            <div id="summernote"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/sidebar/sidebar.js"></script>
    <script src="~/scripts/post/post.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
}